
<html>
    <head>
        <title>Meteo</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link href="/static/styles/style.css" rel="stylesheet">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
        <meta http-equiv="refresh" content="3600">
        <style>
            #map {
                width: 200px;
                height: 200px;
            }
        </style>
    </head>
    <body>
        <h1>Meteo - {{meteo.cityName}}</h1>
        <div id="meteoWidget" style="min-width: 1000px; max-width: 2000px; height: 400px; margin: 0 auto; padding-top: 10px;"></div>

        <div>
            <div class='leftFloat'>
                <a id=leftArrow href={{previous}}>
                    <img alt="Left arrow" src="/static/images/Left arrow.png">
                </a>
            </div>
            {% if next != '' %}
            <div class='leftFloat'>
                <a id=rightArrow href={{next}}>
                    <img alt="Right arrow" src="/static/images/Right arrow.png">
                </a>
            </div>
            {% endif %}
        </div>        

<script type="text/javascript">
    const chart = Highcharts.chart('meteoWidget', {
            title: {
            //     text: 'Météo - ' + '{{meteo.cityName}}',
                text: ''
            },
            xAxis: {
                gridLineWidth: 1,
                categories: {{meteo.dayTime|safe}},
                plotBands:[ 
                {
                    from: {{meteo.dayStart[0]}},
                    to: {{meteo.dayStart[1]}},
                    label: {
                        text: '{{meteo.weekDay[0]}}',
                        y: 15
                    },
                    color:'rgba(255,255,255,.1)'
                },
                {
                    from: {{meteo.dayStart[1]}},
                    to: {{meteo.dayStart[2]}},
                    label: {
                        text: '{{meteo.weekDay[1]}}',
                        y: 15
                    },
                    color:'rgba(255,255,255,.1)'
                },
                {
                    from: {{meteo.dayStart[2]}},
                    to: {{meteo.dayStart[3]}},
                    label: {
                        text: '{{meteo.weekDay[2]}}',
                        y: 15
                    },
                    color:'rgba(255,255,255,.1)'
                },
                {
                    from: {{meteo.dayStart[3]}},
                    to: {{meteo.dayStart[4]}},
                    label: {
                        text: '{{meteo.weekDay[3]}}',
                        y: 15
                    },
                    color:'rgba(255,255,255,.1)'
                },
                {
                    from: {{meteo.dayStart[4]}},
                    to: {{meteo.dayStart[5]}},
                    label: {
                        text: '{{meteo.weekDay[4]}}',
                        y: 15
                    },
                    color:'rgba(255,255,255,.1)'
                },
                {
                    from: {{meteo.dayStart[5]}},
                    to: {{meteo.dayStart[6]}},
                    label: {
                        text: '{{meteo.weekDay[5]}}',
                        y: 15
                    },
                    color:'rgba(255,255,255,.1)'
                },
                {
                    from: {{meteo.weekEnd[0]}}, //Weekend start
                    to: {{meteo.weekEnd[1]}}, //Weekend end
                    color:'rgba(156,156,156,.1)' //light grey
                    // color:'rgba(156,0,0,1)' //light grey
                }
                ],
                plotLines: [{
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: {{meteo.dayStart[0]}}
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: {{meteo.dayStart[1]}}
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: {{meteo.dayStart[2]}}
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: {{meteo.dayStart[3]}}
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: {{meteo.dayStart[4]}}
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: {{meteo.dayStart[5]}}
                    },
                    {
                        color: '#373E40', //Dark grey
                        width: 3,
                        value: {{meteo.dayStart[6]}}
                    }]
            },
            yAxis: [{
                title: {
                    text: 'Temperature (°C)',
                    style: {
                        color: '#FF4D00'
                    }
                },
                labels: {
                    style: {
                        color: '#FF4D00'
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 1
                }]
            },
            { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Rainfall (mm)',
                    style: {
                        color: 'rgba(0,30,255,.75)'
                    }
                },
                labels: {
                    style: {
                        color: 'rgba(0,30,255,.75)'
                    }
                },
                opposite: true},
                { // Tertiary yAxis
                    gridLineWidth: 0,
                    title: {
                        text: 'Wind (km/h)',
                        style: {
                            color: '#8FC496'
                        }
                    },
                    labels: {
                        style: {
                            color: '#8FC496'
                        }
                    },
                    opposite: true},
                    { // 4th yAxis
                        gridLineWidth: 0,
                        title: {
                            text: 'Pression atmosphérique (hPa)',
                            style: {
                                color: 'rgba(156,156,156,.75)'
                            }
                        },
                        labels: {
                            style: {
                                color: 'rgba(156,156,156,.75)'
                            }
                        }}
            ],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                },
                series: {
                    fillOpacity: 0.2 //Set transparency for area for wind
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
            {
                showInLegend: false,
                name: 'Température',
                color: '#FF4D00',
                tooltip: {
                    valueSuffix: ' °C',
                    pointFormat: '{series.name}: <b>{point.y}</b><br/>{point.symbolName}'
                },
                data: {{meteo.temp}}
            },
            {
                name: 'Wind',
                type: 'areaspline',
                yAxis: 2,
                showInLegend: false,
                color: 'rgba(0,255,0,.5)',
                marker: {
                    enabled: false
                },
                tooltip: {
                    valueSuffix: ' km/h'
                },
                data: {{meteo.wind}}
            },
            {
                name: 'Rain',
                type: 'column',
                yAxis: 1,
                showInLegend: false,
                color: 'rgba(0,30,255,.25)',
                data: {{meteo.rain}}
                },
            {
                name: 'Pression',
                //type: 'column',
                yAxis: 3,
                showInLegend: false,
                dataLabels: {
                    enabled: false
                },
                color: 'rgba(156,156,156,.75)',
                dashStyle: 'ShortDot',
                marker: {
                    enabled: false
                },
                data: {{meteo.pressure}}
            },
            {
                name: 'windDirection',
                type: 'scatter',
                showInLegend: false,
                // dataLabels: {
                //     enabled: false
                // },
                // visible: true,
                // marker: {
                //     enabled: true,
                //     enabledThreshold: 1
                // },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.windDirection}</b><br/>'
                },
                data: {{meteo.windDirection|safe}}
            },
            {
                name: 'weatherIcon',
                type: 'scatter',
                marker: {
                    enabled: false,
                },
                showInLegend: false,
                dataLabels: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.weather}</b><br/>'
                },
                data: {{meteo.weatherIcon|safe}}
            }
            ]
           //,
            //function(chart) { // on complete
            //    chart.renderer.image('/Content/Images/5.png', 100, 0, 30, 30)
            //        .add();
            //    chart.renderer.image('/Content/Images/1.png', 200, 150, 30, 30)
            //        .add();
            //    chart.renderer.image('/Content/Images/7.png', 300, 150, 30, 30)
            //        .add();
            //}
            });

            setTimeout(function() {  //This is called to force windDirection marker to be dislpayed
                chart.update({
                    chart: {},
            });
            }, 1); //Called after one milisecond
</script>
</body>
</html>